@namespace ClaudeCodeCurator.Components
@using ClaudeCodeCurator.Models
@using ClaudeCodeCurator.Common
@inject EditorState EditorState

<div class="mt-4">
    <div class="space-y-2 pl-2">
        @foreach (var userStory in Project.UserStories.OrderBy(us => us.UserStoryNumber))
        {
            <EditorListUserStory UserStory="@userStory" />
        }
    </div>
    
</div>

@code {
    [Parameter]
    public ProjectModel Project { get; set; } = null!;
}