@inherits LayoutComponentBase

<div class="h-screen bg-stone-50">
    @Body
</div>

<div id="blazor-error-ui" class="fixed inset-x-0 bottom-0 bg-red-600 text-white p-3 flex justify-between items-center shadow-lg z-50 hidden" data-nosnippet>
    <div class="flex items-center">
        <span class="material-symbols-outlined mr-2">warning</span>
        <span>An unhandled error has occurred.</span>
    </div>
    <div class="flex items-center">
        <a href="." class="reload bg-white text-red-600 px-3 py-1 rounded-md mr-3 hover:bg-stone-100">Reload</a>
        <span class="dismiss cursor-pointer hover:bg-red-700 p-1 rounded">
            <span class="material-symbols-outlined">close</span>
        </span>
    </div>
</div>