@using ClaudeCodeCurator.Common

<div class="bg-stone-800 text-white p-2 shadow-md">
    <div class="mx-auto flex items-center">
        <div class="text-lg font-roboto-slab font-semibold">Claude Code Curator</div>
        <div class="ml-2 text-xs text-stone-400 mt-2">v@(AppSettings.Version)</div>
    </div>
</div>