<div class="h-full border-r border-gray-200 p-4">
    <h2 class="text-xl font-semibold mb-4">Editor Overview</h2>
    <div class="text-gray-500">
        (Content will be added later)
    </div>
</div>