@page "/"
@using ClaudeCodeCurator.Components.Features
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Claude Code Curator</PageTitle>

<div class="flex flex-col h-screen">
    <TopBar />

    <div class="flex flex-1 overflow-hidden">
        <div class="w-1/2">
            <EditorOverview />
        </div>
        <div class="w-1/2">
            <TaskOverview />
        </div>
    </div>
</div>

@code {

}